@font-face {
  font-family: 'Exo 2.0 Thin';
  src: url('./assets/fonts/Exo2.0-Thin.otf');
}

body {
    background-image: url('./assets/images/tile.png');
}

#root {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 5e-05) 49.88%, rgba(0, 0, 0, 0.5) 100%);
}

.App {
  color: white;
  text-align: center;
}
